@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
}
html {
	scroll-behavior: smooth;
}
body {
	background-color: rgb(255, 255, 255);		 
}
nav {
	padding-right: 3%;
	display: inline-flex;
	float: right;
}
header {
	padding: 1.7rem 1.0rem 3.0rem;
	background-color: rgb(255, 255, 255);
	height: 1.50rem;
	width: 100%;
	position: fixed;
	transition: all 4s fade-in-out;
	font-weight: 600;
	z-index: 2;	
}
header.nav-fixed {
    width: 100%;
    position: fixed;
    transition: all 4s fade-in-out;
	
}
/* gets added to the class nav-bar */
.header-active {
    background-color:rgb(0, 0, 0);
    box-shadow: 5px -1px 12px -5px rgb(255, 255, 255);
}

/* logo regular state */
.logo strong {
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	padding: 0.2rem
}
.logo strong:hover {
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
}
.logo a {
	color: rgb(0, 0, 0);
	text-decoration: none;
}
.menu-icon {
	font-size: 20px;
}
/* logo when scrolled */
.logo-active strong {
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	padding: 0.2rem
}
.logo-active strong:hover {
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
}
.logo-active a {
	color: rgb(255, 255, 255);
	text-decoration: none;
}

/* vanta  */
.vanta-canvas {
	opacity: 70%;
	z-index: -2;
}
/* custom scrollbar */
::-webkit-scrollbar {
	width: 10px;
  }  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #f1f1f1; 
  }  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #888; 
  } 
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: rgba(119, 119, 119, 0.721); 
  } 

 /* overlay for menu  */
  .overlay {
	height: 0%;
	width: 100%;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.322);
	background-color: rgba(0,0,0, 0.9);
	overflow: hidden;
	transition: 0.5s; 	
  }
/* menu contents  */
  .overlay-content {
	position: absolute;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
	z-index: 1000;
  }
/* menu items   */
  .overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	font-weight: 300;
	color: #818181;
	display: block;
	transition: 0.3s;
  }  
  .overlay a:hover, .overlay a:focus {
	color: #f1f1f1;
  }
  .overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
  }
  @media screen and (max-height: 450px) {
	.overlay {overflow-y: auto;}
	.overlay a {font-size: 20px}
	.overlay .closebtn {
	font-size: 40px;
	top: 15px;
	right: 35px;
	}
  }
.content-header {
	height: 500px;
	padding: 150px 0 0 8%;
	color:rgb(255, 255, 255);
	background-color: rgb(0, 0, 0);
	position: relative;
	z-index: 0;
}
#typed {
	font-size: 2.0em;
	font-weight: 300;
	color:rgb(255, 255, 255);
	position: relative;
	z-index: -2;
}
.typed-cursor{
font-size: 2.0em;
opacity: 1;
-webkit-animation: blink 0.7s infinite;
-moz-animation: blink 0.7s infinite;
animation: blink 0.7s infinite;
}
.strongTitle {
	color: rgb(255, 255, 255)
}	
.content-button {	
	padding-top: 100px;	
	
}
/* resume button */
.btn-resume {
	border-color: white;
	background-color: transparent;
	color: white;
	padding: 15px;
	letter-spacing: 5px;
	width: 170px;
	font-size: .7rem;
	font-weight: 600;
	
}
.btn-resume:hover {
	border-color: rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	padding: 15px;
	letter-spacing: 5px;
	font-size: .7rem;
	font-weight: 600;
}
.content {
	padding:5%;
}
.content-left {
	width: 50%;
	padding: 100px
  }
.content-right {
	float:right;
	width: 40%;
	padding: 50px;
  }
  
  /* Clear floats af
  ter the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* section position */
section{
	display: flex;
	justify-content: left;
	align-items: center;
}

/* section contents */
section .container{
padding-top: 0;
margin-top: 0;
}
section h1 {
font-size: 3rem;
font-weight: 300;
margin: 5px;
}
section h3 {
font-size: 1.3rem;
font-weight: 300;
margin: 5px;
}
section h2{
font-size: 40px;
text-align: center;
text-transform: uppercase;
}
section .text-container{
	display: flex;
}
section .text-container .text-box{
margin: 15px;
padding: 20px;
background: #ffffff;
box-shadow: 5px 10px #c3c3c31f;
}
section .text-container .text-box:hover{
margin: 15px;
padding: 20px;
background: #000000;
box-shadow: #c7c7c7;
color:white;
box-shadow: 5px 10px #c3c3c31f;
}
section .text-container .text-box h4{
font-size: 30px;
text-transform: uppercase;
}

@media (max-width: 900px){
section h1{
	font-size: 2rem;
	text-align: center;
}
section .text-container{
	flex-direction: column;
}
}
.reveal{
position: relative;
transform: translateY(150px);
opacity: 0;
transition: 1s all ease;
}
.reveal.active{
transform: translateY(0);
opacity: 1;
}
.title-contemt {
text-align: left;
}
.row-projects {
display: -ms-flexbox; /* IE10 */
display: flex;
-ms-flex-wrap: wrap; /* IE10 */
flex-wrap: wrap;
padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
-ms-flex: 25%; /* IE10 */
flex: 25%;
max-width: 25%;
padding: 0 4px;
}

.column img {
margin-top: 8px;
vertical-align: middle;
width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
.column {
	-ms-flex: 50%;
	flex: 50%;
	max-width: 50%;
}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.column {
	-ms-flex: 100%;
	flex: 100%;
	max-width: 100%;
}
}
/* infinity scroll */
.fa-angles-down {
opacity: 70%;
font-size: 40px;
position:fixed;
padding-bottom: 50px;
bottom: 0;
left: 50%;
color:rgb(85, 184, 255);
z-index: 1;


}
.fa-angles-down:hover {
opacity: 100%;
font-size: 40px;
position:fixed;
padding-bottom: 45px;
bottom: 0;
left: 50%;
color:rgb(1, 153, 255);
z-index: 1;
}


/* gallery hover with text */
.image-container img:hover {
background-color: #000000;
opacity: 50%;
}  
.image-container {
position: relative;
text-align: center;
color: rgb(255, 255, 255);
background-color: #000000;

}
.image-container h1{
display: none;
font-weight: 300;
}
.image-container:hover h1{
display: block;
padding: 5px;
}
.project-title {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: #000000;
}

.certificates section {
	color:rgb(255, 255, 255);
	padding:5%;
}
.certificates { 
	background-color: #000000;
}

.see-more-btn {
	border-color: white;
	background-color: transparent;
	color: white;
	letter-spacing: 5px;
	width: 170px;
	height: 50px;
	font-size: .7rem;
	font-weight: 600;

}

.see-more-btn:hover {
	border-color: white;
	background-color: white;
	color: rgb(9, 9, 9);
	letter-spacing: 5px;
	width: 170px;
	height: 50px;
	font-size: .7rem;
	font-weight: 600;

}



.collapsible {
	border-color: white;
	background-color: white;
	color: rgb(9, 9, 9);
	letter-spacing: 5px;
	width: 170px;
	height: 50px;
	font-size: .7rem;
	font-weight: 600;
  }
  
  .certificates .active, .collapsible:hover {
	background-color: rgb(0, 0, 0);
	color:white;
  }
  
  .content-certificate {
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 1s ease-in;
	background-color: #f1f1f1;
  }

  .folder {
	padding:5%;
  }
  .fa-folder-open {
	font-size:20px
  }
  .title-content-certificate {
	text-align: left;
  }

  
input[type=text], select, textarea,input {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	resize: vertical;
	background-color:white;
	width: 100%;
}
  
  label {
	padding: 12px 12px 12px 0;
	display: inline-block;
  }
 
  textarea {
	height:200px;
  }
  input[type=submit] {
	background-color: #ffffff;
	color: #000000;
	padding: 12px 20px;
	border: 1px;
	border-style: solid;
	border-color: black;
	border-radius: 4px;
	cursor: pointer;
	float: left;
	width: 50%;
  }
  
  input[type=submit]:hover {
	background-color: #000000;
	color:#ffffff;
  }
  
  .container-contact{
	border-radius: 5px;
	padding: 5%;
	background-color: #ffffff;
  }
  
  .col-25 {
	float: left;
	width: 25%;
	margin-top: 6px;
  }
  
  .col-75 {
	float: left;
	width: 75%;
	margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row-contact-form:after {
	content: "";
	display: table;
	clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
	.col-25, .col-75, input[type=submit] {
	  width: 100%;
	  margin-top: 0;
	}
  }

  .contact {
	background-color: #ffffff;
	padding:6%;
	padding-bottom: 10%;
  }


  .row-contact {
	display: -ms-flexbox; /* IE10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE10 */
	flex-wrap: wrap;
	padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column-contact {
	-ms-flex: 50%; /* IE10 */
	flex: 50%;
	max-width: 50%;
	padding: 0 4px;
  }
  
  .column-contact img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
	.column-contact {
	  -ms-flex: 50%;
	  flex: 50%;
	  max-width: 50%;
	}
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
	.column-contact {
	  -ms-flex: 100%;
	  flex: 100%;
	  max-width: 100%;
	}
  }
  
  .contact-box {
	background-color: #000000;
	color:#ffffff;
	padding:5px;
	max-height: 600px;
	height: auto;
	float:left;
	width: auto;
	box-shadow: 50px 50px #e2e2e2;
	text-decoration:none;
	color: #ffffff;

  }

  /* .contact-box:hover {
	background-color: #ffffff;
	border: 1px solid rgb(0, 0, 0);
	color:#000000;
	padding:5px;
	height: 500px;
	float:left;
	width: 400px;
	box-shadow: 50px 50px #e2e2e2;
  } */
  .contact-form-container {	
	padding:5%;
  }
	.social-content {
		padding:5%;
		height: auto;
		
	}

	.social-content h3 {
		font-weight: 300;
		
	}
	.social-content h3:hover{
		color: #959595;
	}
	.social-content a {
		text-decoration:none;
		color: #ffffff;
	}
	.social-content a:hover {
		text-decoration:none;
		color: #959595;
	}

	.social-media {
		font-size: 30px;
		letter-spacing: 5px;
		text-align: center;
	}

	.social-media-box {
		padding:5%;
		font-size: 30px;
		background-color: #ffffff;
		color: #000000;
		text-align: center;
	}
	
	.social-media-box a{
		padding:5%;
		font-size: 30px;
		color: #000000;
		text-align: center;
	}
	.social-media-box h3{
		font-size: 15px;

	}
	.contact-text {
		padding-top: 5px;
	}

	/* .qr:hover {
		background-image: url("https://i.ibb.co/D7L43TR/qr-code.png");
		background-repeat: no-repeat;
		background-size: contain, cover;
		padding:5%
	} */
	.social-image:hover {
		opacity: 30%;
		
	}
	.social-content img {
		width: 100%;
		max-height: 450px;
		height: auto;
	}

	.footer {
		height: 100px;
		background-color: #000000;
		text-align: left;
		color:#ffffff;
		padding:5%;
	}